<header class="header">
  <h1 id="title" class="text-center">Edit Employee Form MF</h1>
</header>
<div class="form-wrap">
  <form id="survey-form" [formGroup]="editingForm" (ngSubmit)="updateEmployee()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label id="name-label" for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" formControlName="employee_name">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label id="number-label" for="number">Age </label>
          <input type="number" name="age" id="number" class="form-control" placeholder="Age" formControlName="employee_age">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label id="salary-label" for="salary">Salary</label>
          <input type="number" name="salary" id="salary" placeholder="Enter your salary" class="form-control" formControlName="employee_salary">
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="col-md-12">
        <button [class.disabled]="editingForm.invalid" [ngStyle]="{'background-color': editingForm.invalid ? 'gray' : ''}" type="submit" id="submit" class="btn btn-primary d-block w-100">Update Changes</button>
      </div>
    </div>

  </form>
</div>
