<header class="header">
  <h1 id="title" class="text-center">Survey Form MF</h1>
</header>
<div class="form-wrap">
  <form id="survey-form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label id="name-label" for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" required>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label id="number-label" for="number">Age </label>
          <input type="number" name="age" id="number" min="10" max="99" class="form-control" placeholder="Age" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label id="salary-label" for="salary">Salary</label>
          <input type="salary" name="salary" id="salary" placeholder="Enter your salary" class="form-control" required>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="col-md-12">
        <button type="submit" id="submit" class="btn btn-primary d-block w-100">Update Changes</button>
      </div>
    </div>

  </form>
</div>
